In [1]:
import pandas

In [3]:
data = pandas.read_csv("InteractionLogs-211010-153741.csv")
data

,frame_no,user_position,user_orientation,camera_hit_obj,camera_hit_point,camera_hit_dist,controller_hit_obj,controller_hit_point,controller_hit_distance
0,10,"(-10.53,2.79,-9.97)","(0.00,0.00,1.00)",Wall North,"(-10.53,2.79,12.25)",22.22,Wall North,"(-10.52,2.78,12.25)",21.82
1,20,"(-10.53,2.79,-9.97)","(0.00,0.00,1.00)",Wall North,"(-10.53,2.79,12.25)",22.22,Wall North,"(-10.52,2.78,12.25)",21.82
2,30,"(-10.53,2.79,-9.97)","(0.00,0.00,1.00)",Wall North,"(-10.53,2.79,12.25)",22.22,Wall North,"(-10.52,2.78,12.25)",21.82
3,40,"(-10.53,2.79,-9.97)","(0.00,0.00,1.00)",Wall North,"(-10.53,2.79,12.25)",22.22,Wall North,"(-10.52,2.78,12.25)",21.82
4,50,"(-10.53,2.79,-9.97)","(0.00,0.00,1.00)",Wall North,"(-10.53,2.79,12.25)",22.22,Wall North,"(-10.52,2.78,12.25)",21.82
...,...,...,...,...,...,...,...,...,...
529,5300,"(6.33,3.05,-12.64)","(0.27,-0.36,-0.90)",Ground,"(8.61,0.00,-20.34)",8.59,Ground,"(6.77,0.00,-18.18)",6.01
530,5310,"(6.33,3.05,-12.64)","(0.27,-0.36,-0.90)",Ground,"(8.61,0.00,-20.34)",8.59,Ground,"(6.77,0.00,-18.18)",6.01
531,5320,"(6.33,3.05,-12.64)","(0.27,-0.36,-0.90)",Ground,"(8.61,0.00,-20.34)",8.59,Ground,"(6.77,0.00,-18.18)",6.01
532,5330,"(6.33,3.05,-12.64)","(0.27,-0.36,-0.90)",Ground,"(8.61,0.00,-20.34)",8.59,Ground,"(6.77,0.00,-18.18)",6.01
533,5340,"(6.33,3.05,-12.64)","(0.27,-0.36,-0.90)",Ground,"(8.61,0.00,-20.34)",8.59,Ground,"(6.77,0.00,-18.18)",6.01